<%= form_with(model: for_sale_item) do |form| %>
  <% if for_sale_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(for_sale_item.errors, "error") %> prohibited this for_sale_item from being saved:</h2>

      <ul>
        <% for_sale_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :itemTitle, style: "display: block" %>
    <%= form.text_field :itemTitle %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.number_field :category_id %>
  </div>

  <div>
    <%= form.label :itemDescription, style: "display: block" %>
    <%= form.text_field :itemDescription %>
  </div>

  <div>
    <%= form.label :itemPrice, style: "display: block" %>
    <%= form.number_field :itemPrice, in: 1..10000 %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>

    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, direct_upload: true %>
  </div>


  <div>
    <%= form.submit "Post"%>
  </div>
<% end %>
