<div id="<%= dom_id for_sale_item %>">
  <p>
    <strong>Img:</strong>
    <%= for_sale_item.img %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= for_sale_item.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= for_sale_item.category_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= for_sale_item.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= for_sale_item.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= for_sale_item.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= for_sale_item.user_id %>
  </p>

</div>
