<div id="<%= dom_id for_sale_item %>">

  <p>
    <strong>Title:</strong>
    <%= for_sale_item.itemTitle %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= for_sale_item.category_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= for_sale_item.itemDescription %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= for_sale_item.itemPrice %>
  </p>

  <p>
    <strong>User:</strong>
    <%= for_sale_item.user_id %>
  </p>

  <p>
    <strong>Image(s):</strong>

  <% for_sale_item.images.each do |image| %>
    <div>
      <% if image.representable? %>
        <%= image_tag image.representation(resize_to_limit: [100, 100]) %>
      <% else %>
        <%= link_to rails_blob_path(image, disposition: "attachment") do %>
          <%= image_tag "placeholder.png", alt: "Download file" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </p>

</div>

